<section id="container-projects">
  <h2>Some work that I've done</h2>

  <p>Here you can see the projects that I made. For some, I contributed to as a team work and for others I made by my own.
  </p>

  <div class="projects-group" *ngFor="let project of projects; index as i">
    <h3>{{ project.for }}</h3>

    <div class="project" *ngFor="let proj of project.content">
      <figure class="project-leftside">
        <img class="project-img" src="{{ proj.previewImg }}" alt="project {{ i + 1 }}">
        <figcaption>{{ proj.type }}</figcaption>
      </figure>

      <div class="project-rightside">
        <p>{{ proj.description }}</p>

        <div class="project-buttons">
          <a class="project-link-live" href="{{ proj.linkLive }}" target="_blank" rel="noopener">Live</a>
          <a class="project-link-code" href="{{ proj.linkGit }}" target="_blank" rel="noopener">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</section>
