$first-color: #282c37;
$second-color: #9baec8;
$third-color: #d9e1e8;
$forth-color: #2b90d9;
$left-column-size: 200px;
@font-face {
    font-family: 'RobotoMono';
    src: url('../../assets/fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../../assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

body {
    width: 100%; // height: 2000px;
    color: $second-color;
}


/* Navigation */

nav.container-nav {
    width: 100%;
    padding: 1rem 5rem; // height: 50px;
    position: fixed; // background: pink;
    display: flex; // align-items: baseline;
    justify-content: space-between; // padding: 15px;
    box-sizing: border-box;
    div.container-links {
        margin-top: 5px;
        display: inline-block;
        a {
            margin-right: 30px;
            i {
                font-size: 30px;
                color: $second-color;
                &.fa-github:hover {
                    color: black;
                }
                &.fa-stack-overflow:hover {
                    color: #F48024;
                }
                &.fa-linkedin:hover {
                    color: #0073B0;
                }
            }
        }
    }
    a.button-contact {
        display: inline-block;
        right: 25px;
        padding: 0.8rem;
        border-radius: 5px;
        background-color: $forth-color;
        color: $second-color;
        text-decoration: none;
        z-index: 1; // box-shadow: 1px 1px 1px #4d90c0;
        font-family: 'RobotoMono';
        font-weight: bold;
    }
}


/* Header */

header.container-header {
    position: relative;
    width: 100%;
    height: 600px;
    background: url('../../assets/images/cosmic_background_2.jpg') top center / 100% 600px fixed;
    /* background: image, position / size, attachment */
    overflow: hidden;
    z-index: -1;
    div.starfield-back {
        width: 100%;
        height: 800px;
        background: url('../../assets/images/stars.png') center 0px repeat;
        /* background: image, position, repeat */
        filter: blur(1px);
        position: absolute; // top: 200px;
        // margin-top: -100px;
    }
    div.header-logo {
        width: 150px;
        height: 150px;
        background: url('../../assets/images/personal_logo_low.png') top left no-repeat;
        /* background: image, position, repeat */
        position: absolute;
        top: 70%;
        margin-top: -50px;
    }
    div.planet-foreground {
        width: 1060px;
        height: 960px;
        position: absolute;
        background: url('../../assets/images/planet_on_foreground.png') center no-repeat;
        /* background: image, position, repeat */
        // top: 40%;
        left: 45%;
    }
    div.container-title {
        text-align: center;
        position: absolute; // top: calc((50% + 50px)/2);
        top: 41.5%;
        left: 36.7%;
        margin: 0 auto; // transform: translate(-50%, -50%); // needed for centering
        font-family: 'RobotoMono';
        font-weight: bold;
        p {
            font-size: 20px; // text-shadow: 1px 1px 5px #6584af;
        }
        h1 {
            font-size: 60px; // text-shadow: 1px 1px 5px #6584af;
            color: $forth-color;
        }
    }
}


/* Main */

main.container-main {
    background-color: $first-color;
    h2 {
        padding: 20px;
        text-align: center; // font-family: 'RobotoMono';
        font-family: 'PlayfairDisplay';
        font-weight: bolder;
        font-size: 3.2rem;
        color: $forth-color;
    }
    section.container-about {
        padding: 0 17rem;
        display: flex;
        align-content: flex-start;
        div.about-liftside {
            min-width: 200px;
            max-width: auto;
            display: inline-block;
            padding: 20px;
            text-align: right;
            font-family: 'PlayfairDisplay';
            font-weight: bolder;
            font-size: 2rem;
            img {
                // width: auto;
                width: 140px;
            }
        }
        div.about-rightside {
            display: inline-block;
            padding: 20px; // width: auto;
            font-family: 'RobotoMono'; // font-family: 'Montserrat';
            font-weight: bold;
            font-size: 1.2rem;
            h4 {
                padding: 20px;
                text-align: left; // font-family: 'RobotoMono';
                font-family: 'PlayfairDisplay';
                font-weight: bolder;
                font-size: 2rem;
            }
        }
    }
    section.container-skills {
        padding: 0 17rem;
        display: flex;
        align-content: flex-start;
        div.skills-leftside {
            width: $left-column-size; // display: inline-block;
            padding: 20px;
            text-align: right;
            font-family: 'PlayfairDisplay';
            font-weight: bolder;
            font-size: 2rem;
            color: $forth-color;
        }
        div.skills-rightside {
            // display: inline-block;
            padding: 20px;
            font-family: 'RobotoMono';
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
    section.container-courses {
        // height: 650px;
        padding: 0 17rem;
        display: flex; // box-sizing: content-box; 
        align-content: flex-start;
        background: url('../../assets/images/sunset_over_earth.jpg') bottom center / 100% 900px no-repeat fixed;
        /* background: image, position / size, repeat, attachment */
        div.courses-leftside {
            width: $left-column-size; // display: inline-block;
            padding: 20px;
            text-align: right;
            font-family: 'PlayfairDisplay';
            font-weight: bolder;
            font-size: 2rem;
            color: $forth-color;
        }
        div.courses-rightside {
            // display: inline-block;
            // flex: 0 1 auto;
            // display: flex;
            // flex-wrap: wrap;
            padding: 20px;
            font-family: 'RobotoMono';
            font-weight: bold;
            font-size: 1.2rem;
            div.courses-group {
                // display: inline-block;
                margin: 10px 0;
                h4 {
                    margin-bottom: 10px;
                    text-align: center;
                    font-family: 'PlayfairDisplay';
                    font-weight: bolder;
                    font-size: 2rem;
                    color: #c8ad9b;
                }
            }
        }
    }
    section.container-projects {
        padding: 0 17rem;
        background-color: $third-color;
        height: 500px;
        h2 {
            color: $forth-color;
        }
        div.projects-group {
            h3 {
                text-align: center;
                font-family: 'PlayfairDisplay';
                font-weight: bolder;
                font-size: 2rem;
            }
            div.project-leftside {
                min-width: $left-column-size;
                max-width: auto;
                display: inline-block;
                padding: 20px;
                text-align: right;
                font-family: 'PlayfairDisplay';
                font-weight: bolder;
                font-size: 1.2rem;
                img {
                    // width: auto;
                    width: 140px;
                }
            }
            div.project-rightside {
                display: inline-block;
                font-family: 'RobotoMono';
            }
        }
    }
}


/* Main Skills */

div.skills-rightside {
    ul {
        li {
            margin: 7px 0;
            i.icon-html5-alt {
                color: #E44D26;
            }
            i.icon-css3-alt {
                color: #0070BA;
            }
            i.icon-javascript-alt {
                color: #F0DB4F;
            }
            i.icon-jquery {
                color: #0868AC;
            }
            i.icon-angular {
                color: #E23237;
            }
            i.icon-nodejs {
                color: #539E43;
            }
            i.icon-mongodb {
                color: #58AA50;
            }
            i.icon-git {
                color: #F05033;
            }
            i.icon-csharp {
                color: #672179;
            }
        }
    }
}


/* Main Courses */

ul.courses-list {
    margin-right: 10px;
    li {
        padding: 7px 0;
    }
    &:last-child {
        // margin-right: 0px;
    }
}


/* Footer */

footer.container-footer {
    height: 17px;
    padding: 20px;
    text-align: center;
    background-color: $first-color;
    font-family: 'RobotoMono'; // font-weight: normal;
}


/* Additional classes */

.nav-active {
    background-color: $first-color;
    box-shadow: 0px 1px 50px 1px #000000;
}