<nav id="container-nav">
  <div class="container-links">
    <a class="github" href="https://github.com/CosmicEon" target="_blank" rel="noopener">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a class="stack-overflow" href="https://stackoverflow.com/users/6710111/cosmiceon" target="_blank" rel="noopener">
      <i class="fa fa-stack-overflow" aria-hidden="true"></i>
    </a>
    <a class="linkedin" href="https://www.linkedin.com/in/krasen-ilkov-9a6954108/" target="_blank" rel="noopener">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
  </div>
  <div id="mobile-menu">
    <i id="mobile-menu-button" class="fa fa-bars" aria-hidden="true"></i>
  </div>
  <div class="container-buttons-nav">
    <a id="button-header" class="buttons-nav" href="#container-header" role="button">Home</a>
    <a id="button-about" class="buttons-nav" href="#container-about" role="button">About</a>
    <a id="button-skills" class="buttons-nav" href="#container-skills" role="button">Skills</a>
    <a id="button-courses" class="buttons-nav" href="#container-courses" role="button">Courses</a>
    <a id="button-projects" class="buttons-nav" href="#container-projects" role="button">Projects</a>
    <a id="button-contact" class="buttons-nav" href="#container-contact" role="button">Contact</a>
  </div>
</nav>
