.skills {
  display: flex;
  flex-wrap: wrap;
}

.skill-item {
  margin: 5px;
  padding: 50px;
  background-color: rgba(250, 250, 250, 0.1);
  transition: all 0.5s;
  text-align: center;
}

.skill-item p {
  transition: all 0.5s;
}

.skill-item:hover {
  background-color: rgba(250, 250, 250, 1);
}

.skill-item:hover p {
  color: #1e1e1e;
}

.skill-item .skill-icon {
  width: 70px;
  height: 70px;
  display: inline-block;
  margin-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
}
.skill-item .skill-icon .cls-2 {
  fill: #0079cc;
}
