<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Get in touch</h1>
    <form id="message-form">
        <p>
            <label for="name">Name</label>
            <input id="name" type="text" name="name" placeholder="*" required>
        </p>
        <p>
            <label for="mail">Email</label>
            <input id="mail" type="email" name="email" placeholder="*" required>
        </p>
        <p>
            <label for="message">Message</label>
            <textarea id="message" name="message" cols="40" rows="5" placeholder="..." required></textarea>
        </p>
        <p>
            <button type="submit" required>Send</button>
        </p>
    </form>
</body>

</html>