.progress_container {
  position: fixed;
  width: 75%;
  height: 8px;
  top: 0;
  left: 25%;
  background-color: rgba(250, 250, 250, 0.75);
  z-index: 1;
}

.progress_bar {
  height: 8px;
  background: var(--default-primary-color);
  width: 0%;
}
