$first-color: #282c37;
$second-color: #9baec8;
$third-color: #d9e1e8;
$forth-color: #2b90d9;
$fifth-color: #F57F17;
$left-column-size: 200px;
#container-skills {
  margin: 20px 0;
  padding: 0 17rem;
  display: flex;
  align-content: flex-start;
  .skills-leftside {
    flex: 0 0 $left-column-size;
    padding: 20px;
    text-align: right;
    font-family: 'Segoe UI';
    font-weight: bolder;
    font-size: 2rem;
    color: $forth-color;
  }
  .skills-rightside {
    padding: 20px;
    font-family: 'RobotoMono';
    font-weight: bold;
    font-size: 1.2rem;
    p {
      margin-bottom: 25px;
    }
    ul {
      li {
        margin: 7px 0;
        i.icon-html5-alt {
          color: #E44D26;
        }
        i.icon-css3-alt {
          color: #0070BA;
        }
        i.icon-javascript-alt {
          color: #F0DB4F;
        }
        i.icon-jquery {
          color: #0868AC;
        }
        i.icon-angular {
          color: #E23237;
        }
        i.icon-nodejs {
          color: #539E43;
        }
        i.icon-mongodb {
          color: #58AA50;
        }
        i.icon-git {
          color: #F05033;
        }
        i.icon-csharp {
          color: #672179;
        }
      }
    }
  }
}
