<section id="container-contact">
  <form id="message-form">
    <h2>Get in touch</h2>
    <p>
      <label for="name">Name</label>
      <input id="name" type="text" name="name" placeholder="*" required>
    </p>
    <p>
      <label for="mail">Email</label>
      <input id="mail" type="email" name="email" placeholder="*" required>
    </p>
    <p>
      <label for="message">Message</label>
      <textarea id="message" name="message" cols="40" rows="5" placeholder="..." required></textarea>
    </p>
    <p>
      <button class="submit" type="submit">Send</button>
      <button class="reset" type="reset">Reset</button>
    </p>
  </form>
</section>
