<section id="container-courses">
  <div class="courses-leftside">
    <h3>Past courses</h3>
  </div>
  <div class="courses-rightside">
    <div class="courses-group">
      <h4>Telerik Academy</h4>
      <p>Software Academy Graduate - 2016-2017</p>
      <a href="https://my.telerikacademy.com/Certificates/Image/2353/ffae1027" target="_blank" rel="noopener">Front-end Developer Certificate</a>
    </div>
    <div class="courses-group">
      <h4>Free Code Camp</h4>
      <p>Front End Development - 2017- ongoing</p>
    </div>
  </div>
</section>
